nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}
nav li a{
    padding: 10px;
    margin: 10px;
    border: 1px solid #990000;
    width: 150px;
    display: block;
}

nav li a:hover{
    border: 1px solid #444444;
    background-image: linear-gradient( to bottom, #111111, #555555, #999999);
    color: #990000;
}

nav li {
    display: inline-block;
}