/* This is a style sheet for BasicCSS.html */


p {
    color: #ffffff;
    background-color: #000000;
  }

  .specialp{
    color: #c2ff33;
    background-color: darkgreen;
  }

  .specialid {
    color:darkblue;
    background-color: aqua;
  }

  #divexample {
    background-color: blue;
  }

  .spanstyle {
    color: #ff33e4;
  }

  a {
    color: #1f6528;
}

  a:link {
    color: #ff0000;
  }
  
  a:visited {
    color: #00ff48;
  }

  a:hover {
    color: #ffff00;
  } 