
        ul.tabs {
            list-style: none;
            display: flex;
        }

        ul.tabs li {
            margin-right: 10px;
        }

        ul.tabs li a {
            text-decoration: none;
            padding: 8px 15px;
            background-color: #055310;
            color: #333;
            border-radius: 5px 5px 0 0;
            display: block;
            color: #fff;
        }

        ul.tabs li a:hover {
            padding: 10px;
            background-color: #ddd;
        }

        
        .tab-content {
            padding: 15px;
            border: 1px solid #ddd;
            border-radius: 0 0 5px 5px;
            
        }
         

          a {
            padding: 10px;
            margin: 20px;
            width: 250px;
            border: 2px solid #999;
            background-color: #ccc;
            border-top-left-radius: 20px;
            border-bottom-right-radius: 10px;
            box-shadow: 10px 10px 10px #999;
            
          }   
          body {
            font-family: 'YourFontName', sans-serif;
        }
       
        
        .fab {
            padding: 10px;
            font-size: 24px; 
            color: #0077cc; 
        }
        
        body {
            background-color: #999999;
            align-items: center;
          }
          
          #wrapper {
            margin: 1em auto;
            width: 1075px;
            border: 10px solid rgb(0, 61, 13);
            background-color: #ffffff;
            padding: 1em;
          }
          
#wrapper2 {
  margin: 1em auto;
          width: 425px;
            border: 10px solid rgb(0, 61, 13);
            background-color: #ffffff;
            padding: 1em;
            size: 300px;
            float: inline-start;
}

#wrapper3 {
  margin: 1em auto;
  width: 425px;
    border: 10px solid rgb(0, 61, 13);
    background-color: #ffffff;
    padding: 1em;
    size: 300px;
    float: inline-start;
}

#wrapper4 {
  margin: 1em auto;
  width: 425px;
    border: 10px solid rgb(0, 61, 13);
    background-color: #ffffff;
    padding: 1em;
    size: 300px;
    float: inline-start;
}


          #myCarousel {
            margin-bottom: 24px;
            height: auto;
          }
          
           .f-carousel__slide {
            text-align: center;
            padding: 24px;
            background: #eee;
            width: 500px;
            
          }

          
          
          body {
            background-color: #333;
          }

          .image {
            width: 200px; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */
            border: 4px solid #003d09; /* Black border */
            padding: 1px;
          }

          p {
            .float-left {
              float: right;
              margin-right: 20px; /* Adjust the margin as needed */
            }
          }
          .enlarged-image {
            width: 950px; /* Set the desired width */
            height: auto; /* Maintain aspect ratio */
          }

          .bigger-image {
            width: 225px; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */
            border: 1px solid #003d09; /* Black border */
            padding: 5px;
          }

          .edit {
            width: 180px; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */
            border: 1px solid #003d09; /* Black border */
            padding: 5px;
          }

          .gg {
            width: 300px; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */
            border: 1px solid #003d09; /* Black border */
            padding: 5px;
            float: left;
          }

          .ss {
            width: 300px; /* Adjust the width as needed */
            height: auto; /* Maintain aspect ratio */
            border: 1px solid #003d09; /* Black border */
            padding: 5px;
            float: right;
          }